<html>
	<head></head>
	<body>
		<form th:object="${producto}" action="/formulario" method="post">
			<input type="hidden" th:field="*{id}">
			Nombre <input th:field="*{nombre}" />
			<div class = "text-danger small" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div><br>
			Precio <input th:field="*{precio}" />
			<div class = "text-danger small" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div><br>
			Categoria <input th:field="*{categoria}" /><br>
			<input type="submit" value="enviar">
		</form>
	</body>
</html>